html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(144deg, #162938 31.01%, #000815 52.72%);
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 0, 50px;
  backdrop-filter: blur(10px);
  transition: top 0.6s ease; /* Efek transisi */
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: #4d5e6b;
}

.toggler-icon {
  background: #4d5e6b;
}

.nav-link {
  color: white;
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #162938;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

@media (max-width: 480px) {
  .navbar {
    margin: 10px;
  }

  .navbar-nav {
    margin: 10px;
  }

  .nav-link::after {
    width: 20%;
  }
}

.herosection {
  width: 100%;
  height: 740px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('img/gambar/bg.jpg'); /* Alamat gambar latar belakang */
  background-size: cover; /* Memastikan gambar latar belakang mengisi area sepenuhnya */
  background-position: center; /* Posisi gambar latar belakang */
}

@media (max-width: 480px) {
  .herosection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/gambar/bg.jpg'); /* Alamat gambar latar belakang */
    background-size: cover; /* Memastikan gambar latar belakang mengisi area sepenuhnya */
    background-position: center; /* Posisi gambar latar belakang */
  }
}

.bagian-kiri {
  align-items: space-evenly;
  width: 700px;
  height: 100%;
  font-size: 25px;
  color: #163142;
}

.tulisan {
  margin-top: 30%;
}

.button-container {
  margin-top: 20px;
}

.button {
  margin-bottom: 0px;
  width: 118px;
  height: 53px;
  border: none;
  border-radius: 7px;
  background: #2b4960;
  color: #a0b6bb;
  padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan Anda */
  margin: 5px; /* Sesuaikan margin sesuai kebutuhan Anda */
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background: #1d3646; /* Warna latar belakang lebih gelap saat hover */
  }
  font-size: 20px;
}

.sosmed {
  margin-top: 34%;
}

.sosmed img {
  margin-right: 20px;
}

@media (max-width: 480px) {
  .bagian-kiri {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #a0b6bb;
    justify-content: flex-end;
  }

  .tulisan {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
  }

  .tulisan h1 {
    font-size: 30px;
  }

  .button-container {
    font-size: 18px;
  }

  .bagian-kiri .tulisan p {
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-bottom: 160px;
    width: 130px;
    height: 55px;
    border: none;
    border-radius: 7px;
    background: #2b4960;
    color: #a0b6bb;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: #1d3646; /* Warna latar belakang lebih gelap saat hover */
    }
    font-size: 20px;
  }

  .sosmed {
    margin-bottom: 20px;
  }

  .sosmed img {
    margin-right: 20px;
  }
}

.bagian-kanan {
  display: flex;
}

.gambar {
  width: 450px; /* Lebar wadah gambar */
  height: 450px; /* Tinggi wadah gambar (sesuaikan dengan lebar untuk membuat lingkaran) */
  overflow: hidden; /* Menghilangkan bagian yang melebihi wadah */
  border-radius: 50%; /* Membuat wadah menjadi lingkaran */
}

.gambar img {
  width: 100%; /* Mengisi lebar wadah gambar */
  height: 100%; /* Mengisi tinggi wadah gambar */
  object-fit: cover; /* Memastikan gambar mengisi area sepenuhnya */
}

@media (max-width: 480px) {
  .bagian-kanan {
    display: flex;
    margin-top: 20%;
  }

  .gambar {
    width: 240px; /* Lebar wadah gambar */
    height: 240px; /* Tinggi wadah gambar (sesuaikan dengan lebar untuk membuat lingkaran) */
    overflow: hidden; /* Menghilangkan bagian yang melebihi wadah */
    border-radius: 50%; /* Membuat wadah menjadi lingkaran */
  }

  .gambar img {
    width: 100%; /* Mengisi lebar wadah gambar */
    height: 100%; /* Mengisi tinggi wadah gambar */
    object-fit: cover; /* Memastikan gambar mengisi area sepenuhnya */
  }
}

.secondsection {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0b6bb;
  height: 100vh; /* Untuk membuat .secondsection mencakup seluruh tinggi layar */
}

.secondsection .teks {
  text-align: center; /* Untuk mengatur teks ke tengah horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.thirdsection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #a0b6bb;
  height: 100vh; /* Untuk membuat .thirdsection mencakup seluruh tinggi layar */
}

.thirdsection h1 {
  margin-bottom: 50px;
}

.thirdsection .projects {
  text-align: center; /* Untuk mengatur teks ke tengah horizontal */
  display: flex;
  flex-direction: row; /* Menampilkan gambar dalam baris */
  align-items: center;
  justify-content: center;
  width: 75%;
}

.projects div {
  margin: 10px; /* Jarak antara gambar */
}

.projects div img {
  margin-right: 30px;
  width: 600px; /*S Mengatur ukuran gambar sesuai kebutuhan Anda */
  border-radius: 5%;
  object-fit: cover;
  transition: ease-in-out 0.4s;
}

.gambarprojects {
  display: flex;
}

.gambarprojects img:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .thirdsection {
    justify-content: flex-start;
    flex-direction: column;
    color: #a0b6bb;
    height: 450px;
  }

  .thirdsection h1 {
    margin-bottom: 20px;
  }

  .thirdsection .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
  }

  .projects div {
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  .projects div img {
    margin-bottom: 30px;
    width: 300px;
    object-fit: cover;
    transition: ease-in-out 0.4s;
  }

  .gambarprojects img:hover {
    transform: scale(1.1);
  }
}

.forthsection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #a0b6bb;
  height: 100vh; /* Untuk membuat .thirdsection mencakup seluruh tinggi layar */
}

.forthsection .courses {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.courses img {
  margin: 20px;
  width: auto;
  height: 70px;
}

@media (max-width: 480px) {
  .forthsection {
    justify-content: center;
    flex-direction: column;
    color: #a0b6bb;
    height: 450px;
  }

  .forthsection .courses {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
  }

  .courses img {
    margin: 20px;
    width: auto;
    height: 70px;
    /* You may need to set a max-width for the images to avoid them becoming too wide. */
    max-width: 100%;
  }
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background: linear-gradient(0deg, #162938 50%, #000815 100%);
}

.sampulfooter {
  margin-top: 50px;
  padding: 30px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.footer-text ul li {
  margin-top: 20px;
}

.pengirimanGmail {
  padding: 10px;
  display: flex;
  width: 298px;
  border-radius: 5%;
  background-color: #000815;
  flex-direction: column;
}

.pengirimanGmail img {
  height: 30px;
}

.tulisanlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.chat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #162938; /* Background color for the form */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the form */
}

label {
  font-weight: bold;
  color: #fff; /* Color for labels */
}

input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Border for text input and textarea */
  border-radius: 5px;
  outline: none;
}

input[type='submit'] {
  background-color: #007bff; /* Background color for the Send button */
  color: #fff; /* Text color for the Send button */
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  background: #2b4960;
  color: #a0b6bb;
  padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan Anda */
  margin: 5px; /* Sesuaikan margin sesuai kebutuhan Anda */
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background: #1d3646; /* Warna latar belakang lebih gelap saat hover */
  }
}

@media (max-width: 480px) {
  footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: linear-gradient(0deg, #162938 50%, #000815 100%);
  }

  .sampulfooter {
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    display: flex;
    align-items: center;
  }

  .footer-text ul {
    margin-bottom: 50px;
  }

  .footer-text ul li {
    margin-top: 20px;
  }

  .pengirimanGmail {
    padding: 10px;
    display: flex;
    width: 298px;
    border-radius: 5%;
    background-color: #000815;
    flex-direction: column;
  }

  .pengirimanGmail img {
    height: 30px;
  }

  .tulisanlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }

  .chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #162938; /* Background color for the form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the form */
  }

  label {
    font-weight: bold;
    color: #fff; /* Color for labels */
  }

  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Border for text input and textarea */
    border-radius: 5px;
    outline: none;
  }

  input[type='submit'] {
    background-color: #007bff; /* Background color for the Send button */
    color: #fff; /* Text color for the Send button */
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background: #2b4960;
    color: #a0b6bb;
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan Anda */
    margin: 5px; /* Sesuaikan margin sesuai kebutuhan Anda */
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: #1d3646; /* Warna latar belakang lebih gelap saat hover */
    }
  }
}
